<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>[[#{lang_title}]]</title>
</head>
<body>

 <h1>[[#{lang_empl}]]</h1>

	<form th:action="@{/employees}" method="post" th:object="${employee}">
  
	 	<input type="hidden" name="employeeID" th:value="${employee.employeeID}" /><br/>

		<table border="1">
		    <tr>
		        <th>[[#{lang_empl_name}]]</th>
			    <th>[[#{lang_empl_position}]]</th>
			    <th>[[#{lang_empl_salary}]]</th>
		        <th>[[#{lang_empl_date}]]</th>
		    </tr>
		    <tr>
		        <td><input type="text" name="name"  th:field="${employee.name}" /></td>
		        <td>
			        <select th:field="${employee.position}">
					    <option value="">[[#{lang_select_pos}]]</option>		
					    <option th:each="curPos : ${positions}" th:value="${curPos}" th:text="${curPos}"/>		    
					</select>
				</td>
		        <td><input type="number" name="salary"  th:field="${employee.salary}" /></td>
		        <td><input type="text" name="startWork"  th:field="${employee.startWork}" /></td>
		    </tr>	 	
		<table />
		<br/>
		<button type="submit" id="submitButtonModify"/>[[#{lang_button_modify}]] </button>
	<form/>
 <br/>
 <br/>
<a th:href="@{http://localhost:8080/employees}">[[#{lang_button_back}]]</a>
</body>
</html>