<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Hr application</title>
</head>
<body>

 <h1>Employee</h1>

	<form th:action="@{/employees}" method="post" th:object="${employee}">
  
	 	<input type="hidden" name="employeeID" th:value="${employee.employeeID}" /><br/>

		<table border="1">
		    <tr>
		        <th>Name</th>
		        <th>Position</th>
		        <th>Salary</th>
		        <th>StartWork</th>
		    </tr>
		    <tr>
		        <td><input type="text" name="name"  th:field="${employee.name}" /></td>
		        <td>
			        <select th:field="${employee.position}">
					    <option value="">Select a position</option>		
					    <option th:each="curPos : ${positions}" th:value="${curPos}" th:text="${curPos}"/>		    
					</select>
				</td>
		        <td><input type="text" name="salary"  th:field="${employee.salary}" /></td>
		        <td><input type="text" name="startWork"  th:field="${employee.startWork}" /></td>
		    </tr>	 	
		<table />
		<br/>
		<input type="submit" value="modify" /><br/>
	<form/>
 <br/>
<a th:href="@{http://localhost:8080/employees}">Back</a>
</body>
</html>