<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>[[#{lang_title}]]</title>
</head>
<body>

<span th:text="#{lang.change}"></span>:
<select id="locales">
    <option value=""></option>
    <option value="en" th:text="#{lang.eng}"></option>
    <option value="hun" th:text="#{lang.hun}"></option>
</select>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
$(document).ready(function() {
    $("#locales").change(function () {
        var selectedOption = $('#locales').val();
        if (selectedOption != ''){
            window.location.replace('international?lang=' + selectedOption);
        }
    });
});
</script>

 <h1>[[#{lang.list_empl}]]</h1>
 
 <table border="1">
    <tr>
        <th>ID</th>
        <th>[[#{lang_empl_name}]]</th>
	    <th>[[#{lang_empl_position}]]</th>
	    <th>[[#{lang_empl_salary}]]</th>
        <th>[[#{lang_empl_date}]]</th>
    </tr>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.employeeID}"></td>
        <td>
	        <a th:href="@{/employee(employeeId=${employee.employeeID})}">
	   			<span th:text="${employee.name}">name</span>
	   		</a>
   		</td>
        <td th:text="${employee.position}"></td>
        <td th:text="${employee.salary}"></td>
        <td th:text="${#temporals.format(employee.startWork,'yyyy-MM-dd HH:mm')}"></td>      
        <td>
        	<form action="#" th:action="@{/deleteEmployee(employeeId=${employee.employeeID})}" th:method="delete" >
  				<button type="submit" id="submitButtonDelete"> [[#{lang_button_delete}]] </button>
			</form>
        <td/>
    </tr>
</table>
 
 
 <br/>
 
 <h2>[[#{lang.new_empl}]]</h2>
 
 <br/>
 <form th:action="@{/employees}" method="post" th:object="${newEmployee}"> 
	 <table border="1">
	    <tr>
	        <th>ID</th>
	        <th>[[#{lang_empl_name}]]</th>
	        <th>[[#{lang_empl_position}]]</th>
	        <th>[[#{lang_empl_salary}]]</th>
	    </tr>
	    <tr>
	        <td><input readonly th:field="*{employeeID}" /></td>
	        <td><input th:field="*{name}" /></td>
	        <td>
	        	<select th:field="*{position}">
				    <option value="">[[#{lang_select_pos}]]</option>		
				    <option th:each="curPos : ${positions}" th:value="${curPos}" th:text="${curPos}"/>		    
				</select>
				
       		 </td>
	        <td><input type="number" th:field="*{salary}" /></td>

	    </tr>
	</table>
	<br/>
	<button type="submit" id="submitButtonAdd"/>[[#{lang_button_add}]] </button>
	<br/>
</form>
<br/>
 
</body>
</html>